---
import TextLayout from '../layouts/TextLayout.astro';
---

<TextLayout 
  title="Sobre Nosotros" 
  description="Conoce más sobre Octopus Control, nuestra misión y compromiso."
>
  <p class="lead">
    En Octopus Control, nos especializamos en ofrecer mandos listos para funcionar desde el primer momento. Nuestra misión es simplificar tu experiencia de compra y asegurarnos de que encuentres el mando que estás buscando para tu dispositivo, sin complicaciones.
  </p>

  <h2>Qué nos hace diferentes</h2>
  <ul>
    <li><strong>Fácil de Usar:</strong> Nuestros mandos están listos para funcionar sin configuraciones complicadas ni dolores de cabeza.</li>
    <li><strong>Exactitud en el Producto:</strong> Vendemos los mandos tal como se ven en las imágenes, evitando mandos universales genéricos reprogramados como ofrecen otras tiendas.</li>
    <li><strong>Calidad Garantizada:</strong> Cada modelo de mando ha sido testeado por nuestro equipo para asegurar su funcionalidad y durabilidad.</li>
    <li><strong>Rapidez y Fiabilidad con Control Directo del Producto:</strong> No somos una empresa de dropshipping, gestionamos directamente nuestro stock y los envíos, lo que nos permite ofrecerte un servicio rápido y fiable. Controlamos la calidad y disponibilidad de nuestros productos para asegurarnos de que cada compra sea una experiencia satisfactoria.</li>
    <li><strong>Atención Personalizada:</strong> Estamos aquí para resolver tus dudas y ayudarte a encontrar el mando perfecto para tus necesidades.</li>
    <li><strong>Precios Imbatibles:</strong> Gracias a nuestra capacidad de comprar directamente y gestionar el stock, podemos ofrecerte precios mucho más bajos que la competencia, sin comprometer la calidad. Nos aseguramos de que obtengas un mando de alto rendimiento a un precio inigualable, sin intermediarios ni sobrecostes.</li>
  </ul>

  <h2>Nuestro Compromiso</h2>
  <p>
    En Octopus Control, trabajamos constantemente para mejorar y ofrecer el mejor servicio posible. Queremos ser tu primera opción cuando necesites un mando a distancia fiable, asequible y fácil de usar.
  </p>

  <h2>Nuestro Futuro</h2>
  <p>
    En Octopus Control, no nos conformamos. Nuestro objetivo es seguir creciendo y mejorando para convertirnos en el referente número uno en mandos a distancia. Aspiramos a ofrecer lo mejor en términos de producto, servicio y experiencia de compra, mientras continuamos innovando para satisfacer las necesidades de nuestros clientes.
  </p>

  <p class="mt-8 text-center font-bold text-lg text-primary">
    Gracias por confiar en nosotros. Tu satisfacción es nuestra prioridad.
  </p>
</TextLayout>
